{% extends 'base/base.html' %}

{% block titulo %}
{{ titulo }}
{% endblock %}

{% block content %}
<div class="container pt-5 mt-5">
    <h1>Nuestros Productos</h1>
    <div class="row">
        <section id="tienda">
            <div class="mt-3">
                <hr>
                <div class="carruselPrincipal w-100">
                    <div class="p-2">
                        <div id="collares" class="card">
                            <div class="imgCard">
                                <img class="w-100" src="https://http2.mlstatic.com/D_NQ_NP_660513-MLC48246348539_112021-O.webp" alt="">
                            </div>
                            <div class="card-body">
                                <p class="text-center"><b>Collares</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div id="bandanas" class="card">
                            <div class="imgCard">
                                <img class="w-100" src="https://ae01.alicdn.com/kf/H50609188758e4a2e86e37c6ae40d8322I.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="text-center"><b>Bandanas</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div id="correas" class="card">
                            <div class="imgCard">
                                <img class="w-100" src="https://http2.mlstatic.com/D_NQ_NP_988316-MLC50055148123_052022-O.webp" alt="">
                            </div>
                            <div class="card-body">
                                <p class="text-center"><b>Correas</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="productoCollares" class="p-5 puntero">
              <h2>Collares</h2>
              <div class="row">
                    {% for collar in collares %}
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="w-100" src="{{ collar.imagenProducto.url }}" alt="">
                                <h4 class="text-center mt-3">{{ collar.nombreProducto }}</h4>
                                <h5 class="text-center">${{ collar.precioProducto }}</h5>
                                <button class="btn fondoPurpura text-light btn-block">Comprar</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
              </div>
          </div>

          <div id="productoBandanas" class="p-5 puntero">
              <h2>Bandanas</h2>
              <div class="row">
                {% for bandana in bandanas %}
                  <div class="col-lg-4">
                     <div class="card">
                      <div class="card-body">
                          <img class="w-100" src="{{ bandana.imagenProducto.url }}" alt="Bandana">
                          <h4 class="text-center mt-3">{{ bandana.nombreProducto }}</h4>
                          <h5 class="text-center">${{ bandana.precioProducto }}</h5>
                          <button class="btn fondoPurpura text-light btn-block">Comprar</button>
                      </div>
                     </div>
                  </div>
                {% endfor %}
              </div>
          </div>

          <div id="productoCorreas" class="p-5 puntero">
              <h2>Correas</h2>
              <div class="row">
                    {% for correa in correas %}
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <img class="w-100" src="https://img.ltwebstatic.com/images3_pi/2023/02/20/16768580536337e42b1425dee0dfcbcd3d708abeb6_thumbnail_600x.webp" alt="">
                                <h4 class="text-center mt-3">{{ correa.nombreProducto }}</h4>
                                <h5 class="text-center">${{ correa.precioProducto }}</h5>
                                <button class="btn fondoPurpura text-light btn-block">Comprar</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
              </div>
          </div>
        </section>
    </div>
</div>
{% endblock %}